<div *ngIf="isChanged, else profileForm">
    Your changes are successful.
  </div>
 <p>
 </p>
 <ng-template>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" #f="ngForm">
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control"  name="categoria" [(ngModel)]="form.categoria" #categoria="ngModel"/>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="form.nombre" #nombre="ngModel"/>
        <div *ngIf="f.submitted && nombre.invalid">
        </div>
      </div>
      <div class="form-group">
        <label for="detalles">Detalles</label>
        <input type="text" class="form-control"  name="detalles" [(ngModel)]="form.detalles" #detalles="ngModel"/>
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" class="form-control"  name="cantidad" [(ngModel)]="form.cantidad" #cantidad="ngModel"/>
      </div>
      <div class="form-group">
        <button class="btn btn-info" (click)='edit(id_producto)'>Save changes</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
 </ng-template>